<p class="notice"><%= flash[:notice]%></p>
<p class="tb"><strong>title:</strong>
<%= @book.title %></p>
<p class="tb"><strong>Body:</strong>
<%= @book.body %></p>
<p class="link"><%= link_to "Edit" , edit_book_path(@book.id) %> |
<%= link_to"Back",books_path %></p>